In [85]:
import pandas as pd
import numpy as np
import ast
import gzip
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [86]:

#ruta del archivo JSON comprimido
ruta_archivo = '../data/original/user_reviews.json.gz'
#inicializo una lista para ir guardando los diccionarios de cada lista
filas=[]

# con la funcion gzip abro el archivo y lo recorro con un for por todas sus lineas
with gzip.open(ruta_archivo, 'rt', encoding='latin-1') as file:
    for line in file.readlines():
        #con ast.literal_eval se confierte la linea en un diccionario
        diccionario = ast.literal_eval(line)
        filas.append(diccionario)

user_review = pd.DataFrame(filas)

In [87]:
user_review

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."
...,...,...,...
25794,76561198306599751,http://steamcommunity.com/profiles/76561198306...,"[{'funny': '', 'posted': 'Posted May 31.', 'la..."
25795,Ghoustik,http://steamcommunity.com/id/Ghoustik,"[{'funny': '', 'posted': 'Posted June 17.', 'l..."
25796,76561198310819422,http://steamcommunity.com/profiles/76561198310...,"[{'funny': '1 person found this review funny',..."
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"[{'funny': '', 'posted': 'Posted July 21.', 'l..."
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"[{'funny': '1 person found this review funny',..."

In [88]:
user_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25799 entries, 0 to 25798
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   user_id   25799 non-null  object
 1   user_url  25799 non-null  object
 2   reviews   25799 non-null  object
dtypes: object(3)
memory usage: 604.8+ KB

In [89]:
user_review.columns

Index(['user_id', 'user_url', 'reviews'], dtype='object')

In [90]:
user_review.loc[123, 'reviews']

[{'funny': '3 people found this review funny',
  'posted': 'Posted May 3, 2015.',
  'last_edited': 'Last edited November 8, 2015.',
  'item_id': '730',
  'helpful': '3 of 4 people (75%) found this review helpful',
  'recommend': True,
  'review': 'Game is very fun and very enjoyable :)'}]

In [91]:
user_review.loc[327, 'reviews']

[{'funny': '',
  'posted': 'Posted February 21.',
  'last_edited': '',
  'item_id': '391540',
  'helpful': '2 of 2 people (100%) found this review helpful',
  'recommend': True,
  'review': 'I like this game puzzle and jokes about skeleton'}]

In [92]:
user_review.loc[555, 'reviews']

[{'funny': '',
  'posted': 'Posted March 21, 2015.',
  'last_edited': '',
  'item_id': '222880',
  'helpful': '2 of 2 people (100%) found this review helpful',
  'recommend': True,
  'review': 'Yesss~~~buy this please'},
 {'funny': '',
  'posted': 'Posted May 5, 2014.',
  'last_edited': '',
  'item_id': '4000',
  'helpful': '0 of 1 people (0%) found this review helpful',
  'recommend': True,
  'review': 'Fun yes'}]

In [93]:
type(user_review['reviews'])

pandas.core.series.Series

In [94]:
#El contenido de la columna reviews es una serie de pandas, con explode 
#aplano ese contenido y genero una nueva fila repitiendo el contenido de las otras columnas
user_review=user_review.explode('reviews')

In [95]:
#ahora obtengo un nuevo DF de 59333 filas
#donde cada fila corresponde a un unico review
user_review.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59333 entries, 0 to 25798
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   user_id   59333 non-null  object
 1   user_url  59333 non-null  object
 2   reviews   59305 non-null  object
dtypes: object(3)
memory usage: 1.8+ MB

In [96]:
user_review

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'funny': '', 'posted': 'Posted November 5, 20..."
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'funny': '', 'posted': 'Posted July 15, 2011...."
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'funny': '', 'posted': 'Posted April 21, 2011..."
1,js41637,http://steamcommunity.com/id/js41637,"{'funny': '', 'posted': 'Posted June 24, 2014...."
1,js41637,http://steamcommunity.com/id/js41637,"{'funny': '', 'posted': 'Posted September 8, 2..."
...,...,...,...
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"{'funny': '', 'posted': 'Posted July 10.', 'la..."
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"{'funny': '', 'posted': 'Posted July 8.', 'las..."
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"{'funny': '1 person found this review funny', ..."
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"{'funny': '', 'posted': 'Posted July 20.', 'la..."
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"{'funny': '', 'posted': 'Posted July 2.', 'las..."

In [97]:
#en la columna reviews se encuentra info anidada, entonces procedo a desanidar esa info y armar nuevas columnas
#esas nuevas columnas las concateno con la data original y borro la columna reviews.
user_review=pd.concat([user_review.drop(['reviews'],axis=1),user_review['reviews'].apply(pd.Series)],axis=1)

In [98]:
user_review.sample(2)

,user_id,user_url,funny,posted,last_edited,item_id,helpful,recommend,review,0
6411,ustupit,http://steamcommunity.com/id/ustupit,,Posted January 30.,,9480,No ratings yet,True,I'll start off by saying that the pc port is a...,NaN
6919,1234567810132,http://steamcommunity.com/id/1234567810132,,"Posted February 12, 2014.",,200210,No ratings yet,True,GOODGAME,NaN

In [99]:
user_review.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59333 entries, 0 to 25798
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      59333 non-null  object
 1   user_url     59333 non-null  object
 2   funny        59305 non-null  object
 3   posted       59305 non-null  object
 4   last_edited  59305 non-null  object
 5   item_id      59305 non-null  object
 6   helpful      59305 non-null  object
 7   recommend    59305 non-null  object
 8   review       59305 non-null  object
 9   0            0 non-null      float64
dtypes: float64(1), object(9)
memory usage: 5.0+ MB

In [100]:
# borro las columnas que no me aportan informacion util
user_review.drop(columns=['user_url','funny','helpful','last_edited',0],inplace=True)

In [101]:
user_review.isna().sum()

user_id       0
posted       28
item_id      28
recommend    28
review       28
dtype: int64

In [102]:
#borro las filas que no tengan info de review
user_review.dropna(subset=['review'], inplace=True)

In [103]:
user_review.isna().sum()

user_id      0
posted       0
item_id      0
recommend    0
review       0
dtype: int64

In [106]:
#Analisis de sentimientos usando la columna review
# primero se descarga un diccionario para realizar el analisis (vader_lexicon)

nltk.download('vader_lexicon')

# instancio SentimentIntensityAnalyzer
modelo = SentimentIntensityAnalyzer()

# defino la función para realizar el análisis
def sentimiento(texto):
    # Obtener el puntaje de sentimiento usando SentimentIntensityAnalyzer
    valor = modelo.polarity_scores(texto)
    
    # reviso que el texto no este vacio
    if texto and not pd.isnull(texto):
        # el rango de valor va de -1 a 1, por lo tanto decido dividir los 3 grupos en rangos
        # similares (0.66 c/u), de -1 a -0.33, de -0.33 a 0.33 y de 0.33 a 1
        if valor['compound'] >= 0.33:
            return 2  # Sentimiento positivo
        elif valor['compound'] >= -0.33:
            return 1  # Sentimiento neutral si estan entre -0.33 y 0.33
        else:
            return 0  # Sentimiento negativo
    else:
        return 1  # de lo contrario neutral

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Casa\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [107]:
user_review['sentiment_analysis']  = user_review['review'].apply(sentimiento) # Aplic la funcion sentimiento
user_review.drop(columns='review',inplace=True) #borro la columna review

In [108]:
user_review

,user_id,posted,item_id,recommend,sentiment_analysis
0,76561197970982479,"Posted November 5, 2011.",1250,True,2
0,76561197970982479,"Posted July 15, 2011.",22200,True,1
0,76561197970982479,"Posted April 21, 2011.",43110,True,2
1,js41637,"Posted June 24, 2014.",251610,True,2
1,js41637,"Posted September 8, 2013.",227300,True,2
...,...,...,...,...,...
25797,76561198312638244,Posted July 10.,70,True,2
25797,76561198312638244,Posted July 8.,362890,True,2
25798,LydiaMorley,Posted July 3.,273110,True,2
25798,LydiaMorley,Posted July 20.,730,True,2
25798,LydiaMorley,Posted July 2.,440,True,2

In [109]:
user_review.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59305 entries, 0 to 25798
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             59305 non-null  object
 1   posted              59305 non-null  object
 2   item_id             59305 non-null  object
 3   recommend           59305 non-null  object
 4   sentiment_analysis  59305 non-null  int64
dtypes: int64(1), object(4)
memory usage: 2.7+ MB

In [115]:
user_review['item_id']=user_review['item_id'].astype(float)

In [116]:
user_review.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59305 entries, 0 to 25798
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             59305 non-null  object
 1   posted              59305 non-null  object
 2   item_id             59305 non-null  float64
 3   recommend           59305 non-null  object
 4   sentiment_analysis  59305 non-null  int64
dtypes: float64(1), int64(1), object(3)
memory usage: 2.7+ MB

In [117]:
user_review['user_id'].value_counts()

user_id
76561198094665607      20
dannysfatass           20
76561198064484479      20
chicken_tonight        20
MIMMATA                20
                       ..
76561198019652792       1
AAAAAAAAlAAAAAAAAAA     1
h00py                   1
76561198026959699       1
76561198074227021       1
Name: count, Length: 25458, dtype: int64

In [111]:
user_review['sentiment_analysis'].value_counts()

sentiment_analysis
2    33909
1    18354
0     7042
Name: count, dtype: int64

In [118]:
user_review.isna().sum()

user_id               0
posted                0
item_id               0
recommend             0
sentiment_analysis    0
dtype: int64

In [119]:
#exporto la data de user_review en formato CSV comprimido con la info basica que necesito.
with gzip.open('../data/limpio/user_reviews.csv.gz', 'wb') as file:
    user_review.to_csv(file, index=False, encoding='utf-8')