In [107]:
import pandas as pd
import numpy as np
import ast
import gzip
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [108]:

#ruta del archivo JSON comprimido
ruta_archivo = '../data/original/user_reviews.json.gz'
#inicializo una lista para ir guardando los diccionarios de cada lista
filas=[]

# con la funcion gzip abro el archivo y lo recorro con un for por todas sus lineas
with gzip.open(ruta_archivo, 'rt', encoding='latin-1') as file:
    for line in file.readlines():
        #con ast.literal_eval se confierte la linea en un diccionario
        diccionario = ast.literal_eval(line)
        filas.append(diccionario)

user_review = pd.DataFrame(filas)

In [109]:
user_review

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."
...,...,...,...
25794,76561198306599751,http://steamcommunity.com/profiles/76561198306...,"[{'funny': '', 'posted': 'Posted May 31.', 'la..."
25795,Ghoustik,http://steamcommunity.com/id/Ghoustik,"[{'funny': '', 'posted': 'Posted June 17.', 'l..."
25796,76561198310819422,http://steamcommunity.com/profiles/76561198310...,"[{'funny': '1 person found this review funny',..."
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"[{'funny': '', 'posted': 'Posted July 21.', 'l..."
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"[{'funny': '1 person found this review funny',..."

In [110]:
user_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25799 entries, 0 to 25798
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   user_id   25799 non-null  object
 1   user_url  25799 non-null  object
 2   reviews   25799 non-null  object
dtypes: object(3)
memory usage: 604.8+ KB

In [111]:
user_review.columns

Index(['user_id', 'user_url', 'reviews'], dtype='object')

In [112]:
user_review.loc[123, 'reviews']

[{'funny': '3 people found this review funny',
  'posted': 'Posted May 3, 2015.',
  'last_edited': 'Last edited November 8, 2015.',
  'item_id': '730',
  'helpful': '3 of 4 people (75%) found this review helpful',
  'recommend': True,
  'review': 'Game is very fun and very enjoyable :)'}]

In [113]:
user_review.loc[327, 'reviews']

[{'funny': '',
  'posted': 'Posted February 21.',
  'last_edited': '',
  'item_id': '391540',
  'helpful': '2 of 2 people (100%) found this review helpful',
  'recommend': True,
  'review': 'I like this game puzzle and jokes about skeleton'}]

In [114]:
user_review.loc[555, 'reviews']

[{'funny': '',
  'posted': 'Posted March 21, 2015.',
  'last_edited': '',
  'item_id': '222880',
  'helpful': '2 of 2 people (100%) found this review helpful',
  'recommend': True,
  'review': 'Yesss~~~buy this please'},
 {'funny': '',
  'posted': 'Posted May 5, 2014.',
  'last_edited': '',
  'item_id': '4000',
  'helpful': '0 of 1 people (0%) found this review helpful',
  'recommend': True,
  'review': 'Fun yes'}]

In [115]:
type(user_review['reviews'])

pandas.core.series.Series

In [116]:
#El contenido de la columna reviews es una serie de pandas, con explode 
#aplano ese contenido y genero una nueva fila repitiendo el contenido de las otras columnas
user_review=user_review.explode('reviews')

In [117]:
#ahora obtengo un nuevo DF de 59333 filas
#donde cada fila corresponde a un unico review
user_review.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59333 entries, 0 to 25798
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   user_id   59333 non-null  object
 1   user_url  59333 non-null  object
 2   reviews   59305 non-null  object
dtypes: object(3)
memory usage: 1.8+ MB

In [118]:
user_review

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'funny': '', 'posted': 'Posted November 5, 20..."
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'funny': '', 'posted': 'Posted July 15, 2011...."
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'funny': '', 'posted': 'Posted April 21, 2011..."
1,js41637,http://steamcommunity.com/id/js41637,"{'funny': '', 'posted': 'Posted June 24, 2014...."
1,js41637,http://steamcommunity.com/id/js41637,"{'funny': '', 'posted': 'Posted September 8, 2..."
...,...,...,...
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"{'funny': '', 'posted': 'Posted July 10.', 'la..."
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"{'funny': '', 'posted': 'Posted July 8.', 'las..."
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"{'funny': '1 person found this review funny', ..."
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"{'funny': '', 'posted': 'Posted July 20.', 'la..."
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"{'funny': '', 'posted': 'Posted July 2.', 'las..."

In [119]:
#en la columna reviews se encuentra info anidada, entonces procedo a desanidar esa info y armar nuevas columnas
#esas nuevas columnas las concateno con la data original y borro la columna reviews.
user_review=pd.concat([user_review.drop(['reviews'],axis=1),user_review['reviews'].apply(pd.Series)],axis=1)

In [120]:
user_review.sample(2)

,user_id,user_url,funny,posted,last_edited,item_id,helpful,recommend,review,0
10932,ANUUCHEEKIBREEKIUVDAMKI,http://steamcommunity.com/id/ANUUCHEEKIBREEKIU...,,"Posted September 17, 2014.",,550,3 of 3 people (100%) found this review helpful,True,the modding capability is AMAZING if you love ...,NaN
3639,ClaireBunny,http://steamcommunity.com/id/ClaireBunny,,"Posted July 2, 2015.",,72850,No ratings yet,True,this is the best game ever like fallout with s...,NaN

In [121]:
user_review[user_review['recommend']==True]

,user_id,user_url,funny,posted,last_edited,item_id,helpful,recommend,review,0
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...,NaN
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.,NaN
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...,NaN
1,js41637,http://steamcommunity.com/id/js41637,,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...,NaN
1,js41637,http://steamcommunity.com/id/js41637,,"Posted September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...,NaN
...,...,...,...,...,...,...,...,...,...,...
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,,Posted July 10.,,70,No ratings yet,True,a must have classic from steam definitely wort...,NaN
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,,Posted July 8.,,362890,No ratings yet,True,this game is a perfect remake of the original ...,NaN
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,1 person found this review funny,Posted July 3.,,273110,1 of 2 people (50%) found this review helpful,True,had so much fun plaing this and collecting res...,NaN
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,,Posted July 20.,,730,No ratings yet,True,:D,NaN
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,,Posted July 2.,,440,No ratings yet,True,so much fun :D,NaN

In [122]:
user_review.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59333 entries, 0 to 25798
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      59333 non-null  object
 1   user_url     59333 non-null  object
 2   funny        59305 non-null  object
 3   posted       59305 non-null  object
 4   last_edited  59305 non-null  object
 5   item_id      59305 non-null  object
 6   helpful      59305 non-null  object
 7   recommend    59305 non-null  object
 8   review       59305 non-null  object
 9   0            0 non-null      float64
dtypes: float64(1), object(9)
memory usage: 5.0+ MB

In [123]:
# borro las columnas que no me aportan informacion util
user_review.drop(columns=['user_url','funny','helpful','last_edited',0],inplace=True)

In [124]:
user_review.isna().sum()

user_id       0
posted       28
item_id      28
recommend    28
review       28
dtype: int64

In [125]:
#borro las filas que no tengan info de review
user_review.dropna(subset=['review'], inplace=True)

In [126]:
user_review.isna().sum()

user_id      0
posted       0
item_id      0
recommend    0
review       0
dtype: int64

In [127]:
user_review[user_review['recommend']==False]

,user_id,posted,item_id,recommend,review
16,76561198043472122,"Posted December 19, 2014.",33440,False,This Game Doesn't Work
24,76561198066046412,"Posted December 28, 2015.",359320,False,â¥â¥â¥â¥â¥ charged me 80 now its 15 dolla...
26,76561198070565427,"Posted June 27, 2014.",570,False,"w,"
36,boydeer,"Posted August 24, 2015.",383080,False,à¹à¸à¸¡à¹à¹à¸à¸à¹à¸à¸´à¸à¸à¸µà¹à¸à...
52,sandwiches1,"Posted November 23, 2015.",417860,False,Emily is a thot
...,...,...,...,...,...
25768,kimjongadam,Posted March 26.,273110,False,Well there is no other review I can give to th...
25772,iwishihadaids,Posted February 25.,391460,False,Bad
25785,MeloncraftLP,Posted July 27.,265630,False,DON'T INSTALL THIS GAME!!!!!!!!!!!!!!!!!!!!!!!...
25786,76561198277602337,Posted August 2.,306130,False,"Game is terrible! So, Iv tried 15hrs tryin to ..."
25787,943525,Posted March 5.,298110,False,"uplay, everytime"

In [128]:
#Analisis de sentimientos usando la columna review
# primero se descarga un diccionario para realizar el analisis (vader_lexicon)

nltk.download('vader_lexicon')

# instancio SentimentIntensityAnalyzer
modelo = SentimentIntensityAnalyzer()

# defino la función para realizar el análisis
def sentimiento(texto):
    # Obtener el puntaje de sentimiento usando SentimentIntensityAnalyzer
    valor = modelo.polarity_scores(texto)
    
    # reviso que el texto no este vacio
    if texto and not pd.isnull(texto):
        # el rango de valor va de -1 a 1, por lo tanto decido dividir los 3 grupos en rangos
        # similares (0.66 c/u), de -1 a -0.33, de -0.33 a 0.33 y de 0.33 a 1
        if valor['compound'] >= 0.33:
            return 2  # Sentimiento positivo
        elif valor['compound'] >= -0.33:
            return 1  # Sentimiento neutral si estan entre -0.33 y 0.33
        else:
            return 0  # Sentimiento negativo
    else:
        return 1  # de lo contrario neutral

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Casa\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [129]:
user_review['sentiment_analysis']  = user_review['review'].apply(sentimiento) # Aplic la funcion sentimiento
user_review.drop(columns='review',inplace=True) #borro la columna review

In [130]:
user_review

,user_id,posted,item_id,recommend,sentiment_analysis
0,76561197970982479,"Posted November 5, 2011.",1250,True,2
0,76561197970982479,"Posted July 15, 2011.",22200,True,1
0,76561197970982479,"Posted April 21, 2011.",43110,True,2
1,js41637,"Posted June 24, 2014.",251610,True,2
1,js41637,"Posted September 8, 2013.",227300,True,2
...,...,...,...,...,...
25797,76561198312638244,Posted July 10.,70,True,2
25797,76561198312638244,Posted July 8.,362890,True,2
25798,LydiaMorley,Posted July 3.,273110,True,2
25798,LydiaMorley,Posted July 20.,730,True,2
25798,LydiaMorley,Posted July 2.,440,True,2

In [131]:
user_review.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59305 entries, 0 to 25798
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             59305 non-null  object
 1   posted              59305 non-null  object
 2   item_id             59305 non-null  object
 3   recommend           59305 non-null  object
 4   sentiment_analysis  59305 non-null  int64
dtypes: int64(1), object(4)
memory usage: 2.7+ MB

In [132]:
user_review['item_id']=user_review['item_id'].astype(float)

In [133]:
user_review.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59305 entries, 0 to 25798
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             59305 non-null  object
 1   posted              59305 non-null  object
 2   item_id             59305 non-null  float64
 3   recommend           59305 non-null  object
 4   sentiment_analysis  59305 non-null  int64
dtypes: float64(1), int64(1), object(3)
memory usage: 2.7+ MB

In [134]:
user_review['user_id'].value_counts()

user_id
76561198094665607      20
dannysfatass           20
76561198064484479      20
chicken_tonight        20
MIMMATA                20
                       ..
76561198019652792       1
AAAAAAAAlAAAAAAAAAA     1
h00py                   1
76561198026959699       1
76561198074227021       1
Name: count, Length: 25458, dtype: int64

In [135]:
user_review['sentiment_analysis'].value_counts()

sentiment_analysis
2    33909
1    18354
0     7042
Name: count, dtype: int64

In [136]:
user_review.isna().sum()

user_id               0
posted                0
item_id               0
recommend             0
sentiment_analysis    0
dtype: int64

In [137]:
duplicado = user_review['user_id'].value_counts() > 1
user_review[['user_id','posted','item_id']][user_review['user_id'].isin(duplicado[duplicado].index)].sort_values('user_id')

            user_id                     posted   item_id
25239       --ace--       Posted May 30, 2014.  113200.0
25239       --ace--   Posted January 24, 2014.     440.0
12954     --ionex--            Posted March 2.     730.0
12954     --ionex--    Posted August 15, 2015.  105600.0
18659  -2SV-vuLB-Kg   Posted January 12, 2015.  277950.0
...             ...                        ...       ...
24058       zyr0n1c   Posted February 1, 2015.     730.0
24058       zyr0n1c  Posted December 23, 2013.   72850.0
24058       zyr0n1c     Posted March 26, 2015.  230410.0
24058       zyr0n1c  Posted December 23, 2013.     620.0
24058       zyr0n1c  Posted December 23, 2013.    8980.0

[45910 rows x 3 columns]

In [138]:
user_review.drop_duplicates(subset=['user_id','posted','item_id'], inplace=True)

In [140]:
#exporto la data de user_review en formato CSV comprimido con la info basica que necesito.
with gzip.open('../data/limpio/user_reviews.csv.gz', 'wb') as file:
    user_review.to_csv(file, index=False, encoding='utf-8')